// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upload-form {
  padding: 10px;
  border: 1px solid #DDD;
  margin-bottom: 10px;
  width: 480px;
}