<h1>Create</h1>

<script src="/client-image.js"><script>
<script>
var ClientImage = require('..../../js/client-image/browser.js')
console.log(ClientImage);
// var imageJSON = <%== @variant.to_json %>;

// var image = new ClientImage(image.path, image.width, image.height);

// console.log(imageJSON);
// console.log(image);
</script>